<a href="https://colab.research.google.com/github/archimisra/Python-Operations/blob/main/Untitled27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = {
 "brand": "Ford",
 "model": "eco",
 "year": 1992
}
print(x["brand"])

Ford

In [3]:
x = {
 "brand": "Ford",
 "model": "eco",
 "year": 1992,
 "year": 2024
}
print(x["year"])

2024

In [5]:
x = {
 "brand": "Ford",
 "model": "eco",
}
print(len(x))

2

In [6]:
x = {
 "brand": "Ford",
 "model": "eco",
 "year": 1992,
 "color": ["red","white","blue"]
}
print(type(x))

<class 'dict'>

In [9]:
x = dict(name= "ram", age = 19, Class = 12)
print(x)

{'name': 'ram', 'age': 19, 'Class': 12}

In [11]:
x = {
 "brand": "Ford",
 "model": "eco",
 "year": 1992,
 "color": ["red","white","blue"]
}
y = x.get("brand")
print(y)

Ford

In [12]:
x = {
 "brand": "Ford",
 "model": "eco",
 "year": 1992,
 "color": ["red","white","blue"]
}
y = x.keys()
print(y)
x["Type"]="suv"

dict_keys(['brand', 'model', 'year', 'color'])

In [13]:
x = {
 "brand": "Ford",
 "model": "eco",
 "year": 1992,
 "color": ["red","white","blue"]
}
x.update({"year": 2024})
print(x)

{'brand': 'Ford', 'model': 'eco', 'year': 2024, 'color': ['red', 'white', 'blue']}

In [14]:
# Create a dictionary of 3 students and their marks
students = {
    "Arjun": 85,
    "Maya": 90,
    "Ravi": 78
}

# Add a new student
students["Sneha"] = 88

# Update one student's marks
students["Ravi"] = 82

# Delete one student entry
del students["Maya"]

# Print all keys (student names)
print("Student Names:")
for name in students.keys():
    print(name)

# Print all values (marks)
print("\nMarks:")
for marks in students.values():
    print(marks)

Student Names:
Arjun
Ravi
Sneha

Marks:
85
82
88

In [15]:
# Given dictionary
fruits = {"apple": 50, "banana": 20, "cherry": 30}

# Find the total stock quantity
total_stock = sum(fruits.values())
print("Total stock quantity:", total_stock)

# Check if "mango" exists
if "mango" in fruits:
    print("Mango already exists.")
else:
    # Add mango if it doesn’t exist
    fruits["mango"] = 40
    print("Mango added with quantity 40.")

# Print updated dictionary
print("Updated fruits dictionary:", fruits)

Total stock quantity: 100
Mango added with quantity 40.
Updated fruits dictionary: {'apple': 50, 'banana': 20, 'cherry': 30, 'mango': 40}

In [16]:
# Take input from the user
word = input("Enter a word: ")

# Create an empty dictionary to store character frequencies
frequency = {}

# Count each character
for char in word:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

# Print the frequency of each character
print("Character frequencies:")
for char, count in frequency.items():
    print(f"{char}: {count}")

Enter a word: Archi Misra
Character frequencies:
A: 1
r: 2
c: 1
h: 1
i: 2
 : 1
M: 1
s: 1
a: 1

In [17]:
# Create a dictionary mapping numbers 1–5 to their squares
squares = {x: x**2 for x in range(1, 6)}

# Print the dictionary
print("Number-Square dictionary:", squares)

Number-Square dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
# Given dictionary
country = {"India": "New Delhi", "France": "Paris", "Japan": "Tokyo"}

# Print countries and capitals in the given format
for name, capital in country.items():
    print(f"The capital of {name} is {capital}")

The capital of India is New Delhi
The capital of France is Paris
The capital of Japan is Tokyo

In [19]:
# Given dictionaries
dict1 = {'a': 100, 'b': 200}
dict2 = {'x': 300, 'y': 200}

# Merge the two dictionaries
merged_dict = {**dict1, **dict2}

# Print the merged dictionary
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [20]:
# Given dictionaries
dict1 = {'a': 100, 'b': 200}
dict2 = {'x': 300, 'y': 200}

# Method 1: Using the update() method
merged_dict = dict1.copy()   # Make a copy of dict1
merged_dict.update(dict2)    # Add all key-value pairs from dict2

print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [21]:
# Given dictionary
marks = {"Riya": 85, "Amit": 78, "Tanya": 92, "Karan": 67}

# 1. Print the highest-scoring student
topper = max(marks, key=marks.get)
print("Highest scoring student:", topper, "with", marks[topper], "marks")

# 2. Compute the average marks
average = sum(marks.values()) / len(marks)
print("Average marks:", average)

# 3. Create a new dictionary with students scoring >80
above_80 = {name: score for name, score in marks.items() if score > 80}
print("Students scoring above 80:", above_80)

Highest scoring student: Tanya with 92 marks
Average marks: 80.5
Students scoring above 80: {'Riya': 85, 'Tanya': 92}

In [22]:
# Original dictionary: employee → department
employees = {
    "Riya": "HR",
    "Amit": "IT",
    "Tanya": "Finance",
    "Karan": "IT",
    "Neha": "HR"
}

# Reverse the dictionary: department → list of employees
departments = {}

for name, dept in employees.items():
    departments.setdefault(dept, []).append(name)

print("Employees grouped by department:")
print(departments)

Employees grouped by department:
{'HR': ['Riya', 'Neha'], 'IT': ['Amit', 'Karan'], 'Finance': ['Tanya']}

In [23]:
# Given dictionary
data = {"a": 50, "b": 120, "c": 85, "d": 100}

# Find the key with the maximum value
max_key = max(data, key=data.get)

print("Key with the maximum value:", max_key)
print("Maximum value:", data[max_key])

Key with the maximum value: b
Maximum value: 120

In [24]:
# Nested dictionary of employees
employees = {
    "emp1": {"name": "Riya", "salary": 50000, "dept": "IT"},
    "emp2": {"name": "Amit", "salary": 60000, "dept": "HR"},
    "emp3": {"name": "Tanya", "salary": 55000, "dept": "Finance"}
}

# Print names of employees with salary > 55000
print("Employees with salary > 55000:")
for emp_id, details in employees.items():
    if details["salary"] > 55000:
        print(details["name"])

Employees with salary > 55000:
Amit

In [25]:
# Given nested dictionary
students = {
    "A101": {"name": "Riya", "marks": [78, 89, 91]},
    "A102": {"name": "Karan", "marks": [55, 60, 65]},
    "A103": {"name": "Tanya", "marks": [92, 88, 95]},
}

# Process each student
for sid, info in students.items():
    total = sum(info["marks"])
    avg = total / len(info["marks"])
    info["total"] = total
    info["average"] = avg
    info["result"] = "Pass" if avg >= 60 else "Fail"

# Display student summaries
print("Student Summaries:\n")
for sid, info in students.items():
    print(f"ID: {sid}")
    print(f"Name: {info['name']}")
    print(f"Marks: {info['marks']}")
    print(f"Total: {info['total']}")
    print(f"Average: {info['average']:.2f}")
    print(f"Result: {info['result']}")
    print("-" * 30)

Student Summaries:

ID: A101
Name: Riya
Marks: [78, 89, 91]
Total: 258
Average: 86.00
Result: Pass
------------------------------
ID: A102
Name: Karan
Marks: [55, 60, 65]
Total: 180
Average: 60.00
Result: Pass
------------------------------
ID: A103
Name: Tanya
Marks: [92, 88, 95]
Total: 275
Average: 91.67
Result: Pass
------------------------------

In [26]:
# Given nested dictionary
orders = {
    "ORD101": {"customer": "Riya", "items": {"bag": 1200, "shoes": 2500}},
    "ORD102": {"customer": "Amit", "items": {"watch": 1800}},
    "ORD103": {"customer": "Tanya", "items": {"bag": 1500, "belt": 800}}
}

# Calculate total cost per order
for oid, details in orders.items():
    total = sum(details["items"].values())
    details["total"] = total  # Add total to each order

# Print customer name and total
print("Order Summaries:\n")
for oid, details in orders.items():
    print(f"Order ID: {oid}")
    print(f"Customer: {details['customer']}")
    print(f"Total Amount: ₹{details['total']}")
    print("-" * 30)

# Find order with maximum total
max_order = max(orders, key=lambda x: orders[x]["total"])
print(f"\nOrder with maximum total: {max_order}")
print(f"Customer: {orders[max_order]['customer']}")
print(f"Total Amount: ₹{orders[max_order]['total']}")

Order Summaries:

Order ID: ORD101
Customer: Riya
Total Amount: ₹3700
------------------------------
Order ID: ORD102
Customer: Amit
Total Amount: ₹1800
------------------------------
Order ID: ORD103
Customer: Tanya
Total Amount: ₹2300
------------------------------

Order with maximum total: ORD101
Customer: Riya
Total Amount: ₹3700

In [27]:
# Given performance data
performance = {
    "emp1": {"Q1": 78, "Q2": 82, "Q3": 85, "Q4": 90},
    "emp2": {"Q1": 88, "Q2": 91, "Q3": 79, "Q4": 84},
    "emp3": {"Q1": 60, "Q2": 65, "Q3": 70, "Q4": 75}
}

# 1️⃣ Calculate annual average score per employee
avg_scores = {}
for emp_id, scores in performance.items():
    avg = sum(scores.values()) / len(scores)
    avg_scores[emp_id] = avg

# 2️⃣ Identify top performer(s)
max_avg = max(avg_scores.values())
top_performers = [emp for emp, avg in avg_scores.items() if avg == max_avg]

# 3️⃣ Display results
print("Average Scores per Employee:")
for emp, avg in avg_scores.items():
    print(f"{emp}: {avg:.2f}")

print("\nTop Performer(s):", ", ".join(top_performers))
print("Highest Average Score:", max_avg)

Average Scores per Employee:
emp1: 83.75
emp2: 85.50
emp3: 67.50

Top Performer(s): emp2
Highest Average Score: 85.5

In [28]:
# Given dictionary
accounts = {
    "AC001": {"name": "Riya", "balance": 5000},
    "AC002": {"name": "Karan", "balance": 3000},
    "AC003": {"name": "Tanya", "balance": 7000},
}

# 1️⃣ Deposit ₹2000 to "AC002"
accounts["AC002"]["balance"] += 2000

# 2️⃣ Withdraw ₹1500 from "AC001"
accounts["AC001"]["balance"] -= 1500

# 3️⃣ Find accounts with balance above ₹5000
rich_accounts = {acc_id: info for acc_id, info in accounts.items() if info["balance"] > 5000}

# 4️⃣ Display the summary
print("Account Summaries:\n")
for acc_id, info in accounts.items():
    print(f"Account ID: {acc_id}")
    print(f"Name: {info['name']}")
    print(f"Balance: ₹{info['balance']}")
    print("-" * 30)

print("\nAccounts with balance above ₹5000:")
for acc_id, info in rich_accounts.items():
    print(f"{acc_id} - {info['name']} (₹{info['balance']})")

Account Summaries:

Account ID: AC001
Name: Riya
Balance: ₹3500
------------------------------
Account ID: AC002
Name: Karan
Balance: ₹5000
------------------------------
Account ID: AC003
Name: Tanya
Balance: ₹7000
------------------------------

Accounts with balance above ₹5000:
AC003 - Tanya (₹7000)

In [29]:
# Given lists
names = ["Riya", "Karan", "Amit"]
ages = [19, 20, 18]
courses = ["BCA", "B.Tech", "B.Com"]

# 1️⃣ Build the dictionary
students = {name: {"age": age, "course": course}
            for name, age, course in zip(names, ages, courses)}

# 2️⃣ Print all student names and courses
print("Student Details:\n")
for name, info in students.items():
    print(f"{name} → {info['course']}")

# 3️⃣ Find the youngest student
youngest = min(students, key=lambda x: students[x]["age"])
print(f"\nYoungest Student: {youngest} ({students[youngest]['age']} years)")

Student Details:

Riya → BCA
Karan → B.Tech
Amit → B.Com

Youngest Student: Amit (18 years)